<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="refresh" content="60">
  <link rel="stylesheet" href="static/css/index2.css">
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <title>온습도 계측</title>
</head>
<body>
  <section class="header">
    <div class="first">센서 및 시스템 5조</div>
    <div class="second">미세먼지 측정</div>
  </section>
  <div id="navigation-grid">
    <a href="/">
      <div class="box01">
      <span>
      <img src="../static/img/dust.png" alt="Loading" title="image" width="auto" height="50rem">
      미세먼지</span>
      </div>
    </a>
    <a href="/tem">
    <div class="box02">
      <span>
      <img src="../static/img/cel.png" alt="Loading" title="image" width="auto" height="50rem">
      <img src="../static/img/water.png" alt="Loading" title="image" width="auto" height="50rem">온·습도</span>
    </div>
    </a>
  </div>
  <div id="body">
    <div calss="section">
      <div class="box">
        <p class="head">현재 온·습도</p>
        <div class="data-grid">
          <span >
            <img src = "../static/img/water.png" alt = "test" title="image" width="auto" height="100rem">
            <%= curdata.hum %>%
          </span>
          <span >
            <img src = "../static/img/cel.png" alt = "test" title="image" width="auto" height="100rem">
            <%= curdata.tem%>℃
          </span>
          <span class="date"><%= curdata.time%>기준</span>
        </div>
      </div>
    </div>
    <div calss="section">
      <div class="box">
        <p class="head">시간별 온·습도 현황</p>
        <canvas id="hourchart" style="height:60vh; width:40vw"></canvas>
        <script>
          var ctx = document.getElementById('hourchart').getContext('2d');
          var hourchart = new Chart(ctx, {
              type: 'line',
              data: {
                  labels: <%-JSON.stringify(hourdatas.time) %>,
                  datasets: [{
                      label: 'hum',
                      fill: false,
                      backgroundColor: 'rgba(255,0,0,0.3)',
                      borderColor: 'rgba(255,0,0,0.3)',
                      data: <%-JSON.stringify(hourdatas.hum) %>,
                  },
                  {
                      label: 'tem',
                      fill: false,
                      backgroundColor: 'rgba(0,0,255,0.3)',
                      borderColor: 'rgba(0,0,255,0.3)',
                      data: <%-JSON.stringify(hourdatas.tem) %>,
                  },
                  ]
              },
              options: {
                  responsive: true,
              tooltips: {
                mode: 'index',
                intersect: false,
              },
              hover: {
                mode: 'nearest',
                intersect: true
              },
              scales: {
                xAxes: [{
                  display: true,
                }],
                yAxes: [{
                  display: true,
                  scaleLabel: {
                    display: true,
                    labelString: '℃/%'
                  },
                  ticks: {
                    fontSize:15,
                    min: 0,
                    // forces step size to be 5 units
                    stepSize: 100
                  }
                }]
              }
              }
          });
          </script>
      </div>
    </div>
    <div calss="section">
      <div class="box">
        <p class="head">일주일 온·습도 현황</p>
      </div>
    </div>
  </div>
</body>
</html>